.feedback-box {
    right: 0px;
    top: 328px;
    position: fixed;
    background-color: #000; 
    height: 115px;
    width: 30px;
    border-radius: 3px;
}

.feedback-box:hover {
    background-color: #949494;
}


.feedback-box-paragraph {
    transform: rotate(90deg);
    color: #dbdbdb;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    display: flex;
    padding: 10px 10px 10px 20px;
    cursor: pointer;
}


/* ------------------------------ FORM STYLING ----------------------------- */
.feedback-form {
    top: 52%;
    left: 50%;
    transform: translate(5%, 2.5%);
    background-color: white;
    box-shadow: 0 0 10px rgba(57, 55, 55, 0.5);
    width: 405px;
    height: 93vh;
    z-index: 10000;
}
.overlayNew { 
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .feedback-southfacelogo-container {
    text-align: center;
    padding-top: 15px;
  }
  .feedback-south-face-logo {
    height: 80px;
    width: 170px;
  }
  .feedback-form-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
    padding-left: 20px;
    padding-right: 30px;
    text-align: left;
    display: inline-block;
    box-sizing: border-box;
    color: rgb(64, 64, 74);
  }
  .feedback-select {
    display: block;
    box-sizing: border-box;
    width: 92%;
    border-radius: 4px;
  }
  .feedback-select-container {
    padding-left: 20px;
    margin-bottom: 25px;
  }

/* -------- rating scale ---------*/
 .rating-inputs {
    display: none;
  }
  .rating-labels {
    display: inline-block;
    width: 27px;
    height: 27px;
    color: #000;
    background-color: #d4d4d4;
    border-radius: 2px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    margin-right: 5px;
  }
  .rating-inputs:checked + label {
    background-color: #000;
    color: #fff;
  }
  .rating-inputs:hover + label {
    background-color: #000;
    color: #fff;
  }
/*-------end rating scale styling -------*/


  #loyalty-yes, #loyalty-no {
    height: 1rem;
    width: 1rem;
    margin-right: 8px;
  }
  input[type=radio] {
    accent-color: black;
  }
 #feedbackcameraBtn {
    padding-left: 20px;
    padding-right: 175px;
 }
 .feedback-form-buttons {
    border: 1px solid black;
    font-size: 0.875rem;
    line-height: 1.42857143;
    padding: 6px 12px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    border-radius: 0.25rem;
    margin-bottom: 10px;
 }
 #feedbackcloseBtn {
    margin-right: 10px;
    color: #000;
    background-color: white;
 }
 #feedbacksubmitBtn {
    margin-right: 30px;
    color: rgb(255, 255, 255);
    background-color: #000;
 }