.summary_RatingBreakDown {
    width: 35vw;
    background-color: #fff;
    border: solid 1px;
    border-color: #AAA;
    border-radius: 2px;
    min-height: 250px;
    max-height: 400px;
    min-width: 250px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 2rem ;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


@media (min-width: 300px) {
    .summary_RatingBreakDown {
        width: 85vw;
        margin: 10px;
    }
  }
  
  body {
    font-family: Arial;
    margin: 0; 
    max-width: 100%;
    padding: 20px;
  }
  
  .breakdown_title {
    font-size: 1.25rem;
    text-align: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
  }
  


  .table{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .table:after {
    content: "";
    display: table;
    clear: both;
  }

  .column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 350px;
    align-items: center;
  }

.column:hover .side{
  background-color: #979797;
  color:#f8f8f8;
  transition: 500ms;
}  


  .side {         /* Left */
    width: 41px;
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: .875rem;
    padding-bottom: 20px;
  }
  
  .middle {
    width:70%;
    padding-bottom: 15px;
  }
  
  .side-right {
    text-align: right;
    width: 21px;
    padding-bottom: 20px;
    font-weight: 300;
    font-size: .875rem;
  }

 
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 10px;
    margin: 5px;
  }
  
  .bar-4 {height: 11px; background-color: #64646b; border-radius: 10px;} /* Star 1 */
  .bar-3 {height: 11px; background-color: #64646b; border-radius: 10px;} /* Star 2 */
  .bar-2 {height: 11px; background-color: #64646b; border-radius: 10px;} /* Star 3 */
  .bar-1 {height: 11px; background-color: #64646b; border-radius: 10px;} /* Star 4 */
  .bar-0 {height: 11px; background-color: #64646b; border-radius: 10px;} /* Star 5 */
  
  @media (max-width: 1023px) {
    .summary_RatingBreakDown{
        width: 98%;
        bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .column{
      width: 90%;
    }
  }