.summary_RatingBreakDown {
    width: 40vw;
    background-color: #f8f8f8;
    border: solid 1px;
    border-color: #AAA;
    border-radius: 2px;
    min-height: 250px;
    max-height: 400px;
    min-width: 250px;
    padding: 2rem;
    margin: 2rem ;
}


@media (min-width: 300px) {
    .summary_RatingBreakDown {
        width: 85vw;
        margin: 10px;
    }
  }