.singleReview{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #fefefe;
    font-family: 'Roboto', sans-serif;
}

.singleReview_Review{
    width: 66%;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
}
.singleReview_SubmitedBy{
    width: 34%;
    padding-top: 2rem;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: #2a2a2a;
    display: flex;
    flex-direction: row-reverse;
    font-size: 1rem;
}
.singleReview_SubmitedBy_Info{
    width: 90%;
    min-width: 400px;
    font-weight: 300;
    font-size: .875rem;
}
.reviewTitle{
    font-size: 1.25rem;
    font-weight: 500;
    width: 100%;
    margin: 0 0 24px 0; 
    color: #111214
}
.reviewComment{
    font-size: .875rem;
    color: #2a2a2a;
    font-weight: 300;
}



.moreDetailsButton {
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    background-color: transparent;
    color: #111214;
    font-size: 1.125rem;
    border: transparent;
    pointer-events: none;
    background-image:url('../../../../FEC-South-Face/public/expand.png'); 
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}


.singleReview_starsContainer{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 1rem;
}
  .single_star{
    height: 20px;
    width: 20px;
  }

.reviewHelpful{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.reviewHelpful_title{
    text-align: center;
    font-size: 1.5rem;
}

  .thumbsUp{
    height: 100%;
    width: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
  }

  .thumbsDown{
    height: 100%;
    width: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 3rem;
  }
  .numberOfHelpfuls{
    margin-left: 5px;
  }

.reviewHelpful_flag{
    display: flex;
    flex-direction: row;
    width: 200px; 
    margin-left: 30px;
}

.reviewHelpful_flag_image {
    width: 30px;
    align-self: center;
}

.reviewHelpful_flag_text{
    font-size: 1rem;
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
    margin-left: 10px;
}
