.summaryContainer{
    display: flex;
    width: 94%;
    height: 50vh;
    flex-direction: column;
    align-items: center ;
    background-color: #f9f9f9;
    flex: 1;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.summmaryContainer_Title{
    font-size: 2rem;
    font-weight: 525;
    width: 90%;
    text-align: center;
}

.summary_Percentage_Rating_Container {
    display: flex;
    width: 99%;
    flex-direction: row;
}

@media (max-width: 1023px) {
    .summary_Percentage_Rating_Container {
      flex-direction: column;
      align-items: center;
      height: auto;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
    }
  }