.photo-input-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    position: relative;
  }
  
  .photo-input {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 190px;
    border: 1px solid #999;
    cursor: pointer;
  }
  
  .plus-symbol {
    font-size: 30px;
    margin-right: 5px;
    width: 20px; /* Adjust the width of the plus symbol */
  }
  
  .add-photo-text {
    font-size: 12px;
    color: #080808;
    text-decoration: underline;
  }
  
  /* Add hover effect */
  .photo-input:hover {
    background-color: #f2f2f2;
  }
  
  /* Styles for dark overlay */
  .dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
    z-index: 9999; 
    display: none; /* Initially hidden */
  }
  
  /* Styles for the white box */
  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f6f6f6;
    width: 500px; 
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10000; 
    display: none;
  }
  
  /* Styles for InputDetailsForm inside the white box */
  .input-details-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .form-content {
    margin-top: 20px; 
  }
  