.nav-list {
    font-size: 12px;
    font-family: 'Helvetica Neue LT Pro', sans-serif;                                           
    display: flex;  
    color: #2A2A2A;
    font-weight: 500;
    text-decoration: none;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 5;
}

.southface-logo {
    margin-left: .5rem;
    margin-right: 4rem;
    margin-top: .5rem;
}

.body {
    padding-top: 5.8rem;
  }

.nav-list-cont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5px;
    margin-bottom: -5px;
}

.nav-list-item {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 500;
    width: 104px;
    justify-content: center;
}

.nav-list-text {
    color: #2A2A2A;
    text-decoration: none;
    
}

.nav-list-item:hover{
    color: grey;
    cursor: pointer;

}

.flag {
    height: 24px;
    width: 24px;
}

.nav-compnents {
    display: flex;
}

.nav-component-item {
    display: flex;
    color: #2A2A2A;
    margin-right: 32px;
    text-decoration: none;
    white-space: nowrap;
}

.nav-component-item-link {
    color: #2A2A2A;
    text-decoration: none;
    font-weight: 400;
}

.nav-component-item-link:hover {
    cursor: pointer;
    color: #2A2A2A;
    font-weight: 500;
    transition-timing-function: ease-in-out, ease-in-out;
    border-bottom: #2A2A2A 2px solid;
    text-decoration: none;
}

.search-bar {
    border: none;
    text-decoration: none;
    height: 40px;
}

.search-comp {
    display: flex;
    white-space: nowrap;
    align-items: center;
}

.search-comp-mg {
    color: #2A2A2A;
    font-weight: 300;
    height: 24px;
    width: 26px;
    margin-right: 35px;
}

.search-comp-bag {
    color: #2A2A2A;
    font-weight: 300;
    height: 24px;
    width: 26px;
    margin-left: 32px;
    margin-right: 20px;
}

.vf-search-bar {
    border-bottom: #2A2A2A 1px solid;
}

.nav-header {
    font-family: 'Helvetica Neue LT Pro', sans-serif;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    align-items: first baseline;
    justify-content: space-between;
    margin: 0%;
    padding: 0%;
    color: #2A2A2A;
}

.header-actions {
    display: flex;
    align-items: center;
}

.nav-routes {
    font-size: 14px;
    font-family: 'Helvetica Neue LT Pro', sans-serif;
    color: rgb(42, 42, 42);
    font-weight: 300;
    margin-bottom: 5rem;
    display: flex;
    list-style: none;
    margin-left: -40px;
    align-items: center;
    margin-top: 1.5rem;
}

.nav-routes-link {
    color: #2A2A2A;
    text-decoration: none;
}

.nav-routes-seperator {
    padding-left: 4px;
    padding-right: 8px;
}

.nav-components {
    display: flex;
    scroll-margin-left: 64px;
    margin-right: 130px;
}

.sale-component-link {
    color: #2A2A2A;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Helvetica Neue LT Pro', sans-serif; 
    font-weight: 400;  
}

.mens-component-divs {
    display: flex;
}

.menu-content {
    position: relative;
    transition: opacity 0.3s ease-in-out;;
    margin-left: 94px;
    margin-right: 464px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 850px;
    justify-content: center;
    align-items: flex-start;
}

.mega-menu {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    height: 530px;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    z-index: 2000;
    top: 53px;
    display: flex;
    flex-direction: column;
    left: 0;
}

.navbar-img {
    height: 68px;
    aspect-ratio: auto 68 / 68;
}

.navbar-third {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-third-product {
    display: flex;
}

.navbar-third-buttons {
    display: flex; 
    padding-right: 10px;
    align-items: center;
}

.navbar-third-cartButton {
    background-color: black;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    padding: 17.5px 4rem ;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

.navbar-third-heartButton {
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 10px;
    width: 3rem;
    height: 3rem;
    border: 1px black solid;
}

.navBar-smallWidth {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-comp-menu {
    color: #2A2A2A;
    font-weight: 300;
    height: 24px;
    width: 26px;
    margin-left: 32px;
    margin-right: 20px;
}

.nav-routes-backarrow {
    color: #2A2A2A;
    font-weight: 300;
    height: 24px;
    width: 26px;
}

.nav-dropdowns-smallwidth {
    align-items: stretch;
    color: #2A2A2A;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 300;
    justify-content: space-between;
}

.navbar-accodian-level1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 11px;
    padding-right: 10px;
    padding-bottom: 12px;
    border-top: rgb(204, 204, 204) solid 1px;
    width: 100vw;
}

.Navbar-accordian-items {
    border-left: 1.5rem;
    color: #2A2A2A;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-between;
}

.navbar-accordian-item {
    padding-left: 10px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 13px;
    border-top: rgb(204, 204, 204) solid 1px;
    display: block;
    box-sizing: border-box;
    width: 100vw;
}

.navbar-accordian-item-link {
    color: #2A2A2A;
}

.nav-dropdown-list {
    color: rgb(42, 42, 42);
    display: block;
    font-size: 16px;
    font-weight: 300;
    list-style: none;
}

.nav-dropdown-list-item {
    box-sizing: border-box;
    display: list-item;
    text-align: left;
    display: flex;
    align-items: center;
}

.nav-dropdown-list-item-link {
    align-items: center;
    color: #2A2A2A;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    list-style-type: none;
    list-style-position: outside;
    padding-bottom: 13px;
    padding-left: 38px;
    padding-top: 13px;
    text-decoration: none;
}