:root {
    font-family: Helvetica Neue, Arial, sans-serif;
}

/* -------------------- Overall Footer Styling -------------------- */

.footerContainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    padding: 2rem 2rem;
}


/* ----------------------- Footer Menu Section ----------------------- */
.footerColumnTitle {
    text-align: left;
    color: #2a2a2a;
    font-size: 1.125rem;
    align-items: center;
}

.footerMenuColumn {
    display: block;
    margin: 0.625rem;
    width: 100%;
    padding-right: 0.625rem;
    max-height: 200vh;
}

.dropdown {
    /* border: 1px solid #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin-bottom: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 200; */
    font-size: 0.9375rem; 
    display: none;
}

.FMCC-list {
    list-style: none;
    padding-left: 0;
}

.FMCC-listItem {
    font-size: 14px;
    color:#2A2A2A;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 20px;

}
.FMCC-listItem:hover {
    color:#64686B;
}

/*----------------------- Footer Bottom Section -----------------------*/
.BfooterColumnTitle {
    text-align: left;
    color: #2a2a2a;
    font-size: 1.125rem;
    align-items: center;
}

.footerBottom {
    background-color: #f8f8f8;
    width: 100%;
}

.footerBottom-3Columns {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
}

.FB-storelocator {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    width: 25%;
    /* padding-left: 50px; */
    justify-content: space-between;
} 


.storelocator-button {
    background-color: #000;
    border: 1px solid black;
    border-radius: 30px;
    padding: 0.95rem 2rem;
    cursor: pointer;
    transition: background-color .3s ease,color .3s ease;
    width: 188px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}
.storelocator-link {
    text-decoration: none;
    color:transparent;
}

.icons-container {
    display: flex;
}
.FB-socialmedia {
    width: 25%;
}

.icon .FB-socialmedia {
    /* --icon-size: 18px;
    --icon-color: var(--vf-footer-social-icon-color); */
    background: #64686B;
    border-radius: 2px, 0;
    color: #fff;
    display: flex;
    margin: 0, 0.25rem;
    padding: 0.5rem;
    transition: color .15s ease-in-out,color .15s ease-in-out; 
}

.icons:hover {
    color: black;
}

/* ---- Email subscription ---- */
.subscriptionForm-inputWrapper {
    display: flex;
}
.subscriptionForm-checkbox {
    display: flex;
}

.input__wrapper {
    position: relative;
}

.input__wrapper input {
    padding: 8px;
    border: 1px solid #8f8f8f;
    border-radius: 2px;
    width: 200px;
}

.input__wrapper label {
    position: absolute;
    top: -8px; /* Adjust the top position to place the label inside the border */
    left: 8px; /* Adjust the left position to place the label inside the border */
    background-color: #fff;
    padding: 0 4px;
    color: #2A2A2A;
    font-size: 10px;
    pointer-events: none; 
}

.FB-emaillist {
    margin: 0;
    min-width: 16rem; 
    align-items: flex-start;
    padding-bottom: 0;
    width: 25%;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
}

.checkbox-input {
    border-color: #8f8f8f;
    border-radius: 2px;
    width: 1.3rem;
    height: 1.3rem;
    cursor: pointer;
  }
  
  .checkbox-input::before {
    content: "";
    display: block;
    width: 1.3rem;
    height: 1.3rem;
    background-color: #f0f0f0; /* Background color of the checkbox */
    border: 1px solid #8f8f8f; /* Border color of the checkbox */
    border-radius: 2px;
  }
  
  .checkbox-input:checked::before {
    background-color: black; /* Fill color when the checkbox is checked */
  }
  


/* .checkbox-input {
    border-color: #8f8f8f;
    border-radius: 2px;
    height: 1.5rem;
    min-height: 1.5rem;
    min-width: 1.5rem;

}
input[type="checkbox"]:checked + .checkbox-input::after {
    background-color: black;  
} */

.email-subInput {
    outline: none;
    border-color: #8f8f8f;
    background: #fff;
    box-sizing: border-box;
    display: block;
    /* padding: 0.5rem, 3.4rem, 0.5rem, 0.5rem; */
    width: 100%;
}

.footerColumnParagraph {
    font-size: 14px;
    color: #1c1c1c;
    font-family: Lato, sans-serif;
}
.checkbox-label {
    font-size: 14px;
}
.footerBottom-Bar {
    font-size: 14px;
}

.email-button {
    background-color: #ccc;
    border: 1px solid #ccc
}

.privacy-terms {
    color: black;
    cursor: pointer;
}
.privacy-terms:hover {
    color: #64686B;
}

.FBBI-wrapLink {
    color: black;
    cursor: pointer;
    margin-top: 10px;
}
.FBBI-wrapLink:hover {
    color: #64686B;
}

.FBBI-logo {
    height: 43px;
    width: 94px; 
}

.FBB-info {
    display: flex;
    /* padding-left: 25px; */
    padding-bottom: 45px;
}

.copyrightstatement {
    padding-bottom: 5px;
}




/* ------------- When screen width drops below 1024px ------------ */


@media (max-width: 1024px) {
    .footerContainer {
        flex-direction: column;
    }
    .dropdown {
        display: contents;
        transition: all 0.3s ease;
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        cursor: pointer;
        padding-bottom: 10px;
        padding-left: 10px
    }
    #SHOP, #Help, #About-TNF, #Discover, #Explore {
        border: 1px solid #ddd;
        border-top: none;
        border-left: none;
        border-right: none;
        font-weight: 200;
        font-size: 0.9375rem;
        flex-direction: column;
        display: flex;
        padding-left: 10px;
    }
    #apple, #google {
        display: none;
    }
    .footerColumnTitle {
        display: none;
    }
    .FMCC-listItem {
        border: 1px solid #ddd;
        border-top: none;
        border-left: none;
        border-right: none;
        font-weight: 200;
        font-size: 0.9375rem;
    }
    .footerMenuColumn {
        margin: 0.625rem 0;
        /* display: flex;
        flex-direction: column; */
    }
    .footerMenuColumnContent {
        display: block;
    }

/* -------------Bottom-Section--------------- */

    .footerBottom-3Columns {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        /* margin-bottom: 2rem; */
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .FB-storelocator {
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
    }
    .storelocator-button {
        width: 99%;
        background-color: transparent;
        padding: 0.75rem 2rem;
        color: #131313;
        font-size: 16px;
    }
    .storelocator-button:hover {
        background-color: black;
        color: white;
    }
  
    .FB-socialmedia {
        width: 100%;
        margin-bottom: 1rem;
    }
    .FB-emaillist {
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.5rem;
    }
    .subscriptionForm {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .subscriptionForm-inputWrapper {
        margin-bottom: 0.5rem;
    }
    .checkbox-label {
        padding-left: 10px;
    }
    .icons-container {
        justify-content: center;
    }
    .FBB-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 2rem;
        width:100%;
    }
    .FBBI-wrap {
        display: none;
    }
    .footerColumnParagraph {
        display: none;
    }
    .BfooterColumnTitle {
        font-size: 0.9375rem;
        font-weight: lighter;
    }
    .footerBottom {
        background-color: #fff;
        width: 100%;
    }
    .checkbox-input::before {
        background-color: #fff; 
      }
    .south-face-logo {
        height: 70px;
        width: 150px;
        margin: 0 auto;
    }
}
